<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:Backend/etc/menu.xsd">
    <menu>
        <add id="extensions_relevatracking::statistics" title="Releva Dashboard" module="Extensions_RelevaTracking" sortOrder="10" parent="Magento_Reports::report_marketing" action="extensions_relevatracking/statistics" resource="Extensions_RelevaTracking::statistics"/>
    </menu>
</config>