<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <relevanz_tracking>
            <settings>
                <enabled>1</enabled>
                <client_id></client_id>
                <additional_html><![CDATA[<script type="text/javascript">var relevanzRetargetingForcePixel = true;</script>]]></additional_html>
            </settings>
        </relevanz_tracking>
    </default>
</config>
